.glow {
    border-radius: 15px;
    border: #5e8665 1px solid;
    animation: glowing 2s infinite;

}

@keyframes glowing {
    from {
        box-shadow: rgb(15, 120, 18) 0 0 20px 0;
    }
    to {
        box-shadow: rgb(98, 128, 131) 0 0 2px 0;
    }
}