.welcome-content {
    margin-right: auto;
    position: relative;
    margin-left: 5px;
    width: 100%;
    height: 100%;

    -moz-user-select: none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}