.deck span{
    position: absolute;
    bottom: 0;
    font-size: 25px;
    writing-mode: horizontal-tb;
}

.ai.deck span{
    position: absolute;
    bottom: 0;
    font-size: 25px;
    writing-mode: horizontal-tb;
}