.discard span{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 25px;
    writing-mode: horizontal-tb;
    margin-bottom: 25px;
}

.ai.discard span{
    position: absolute;
    left: -16px;
    top: 25px;
    font-size: 25px;
    writing-mode: horizontal-tb;
}